* {
    margin: 0;
    padding: 0;
}/* 处理白色的边框 */
p {
    color: hsla(0, 0%, 100%, .9);
}
html {
    font-size: 15px;
    height:100%;
}
body {
    min-height:100%;
    background: #f7f7f7;
}
h2 {
    color: rgba(41, 41, 41, 0.664);
}
a {
    text-decoration:none
}
.name {
    font-size: 60px;
	margin:auto;
}
.header {
    width: auto;
    height: 400px;
    background: rgb(42, 174, 103);
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.forme_text{
	font-size: 20px;
}
.center{
	margin:auto;
}
.links{
	margin-top: 50px;
}
.tag p {
    color: rgba(0, 0, 0, .9);
    font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.list{
	min-width: 800px;
    min-height: 200px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}
.list a {
    color: #6a6a6a;
    display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}
.list ul{
	margin-top: 0px;
	display: flex;
	flex-wrap: wrap;
	transition: all 0.3s;
}
.list ul li {
    border-radius: 30px;
    background: #c8c8c8;
    display: flex;
    width: 180px;
    height: 180px;
    margin-right: 32px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.list ul li a {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 230px;
    align-items: center;
    justify-content: center;
    line-height: 70px;
}
.foot {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    margin-top: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #6A6A6A;
    border-top: 1px solid #ddd;
    position: absolute;
    padding: 20px 0;
    
}
.githunico{
	width: auto;
	height: 20px;
	margin-left: 10px;
}
.Blog-list{
    border-radius: 15px;
    width: 800px;
    height: 400px;
    margin-bottom: 50px;
    margin: 0 auto;
    margin-top:-10px;
    background-color: rgba(211, 210, 210, 0.8);
    overflow: hidden; /*溢出隐藏*/
}
.Blog-img1{
    
    border-radius: 15px;
    width: 800px;
    height: 250px;
    background-image: url("../img/SKy.jpg");
    background-size: cover;
}
.Blog-text{
    
    width: 780px;
    height: 30px;
    margin: 0 auto;
    text-align:center;
    
}
.Blog-text p{
    margin-top: 10px;
    color: #000;
}

.Blog-content p{
    width: 780px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    color: rgba(26, 26, 26, 0.9);
}
.Blog-Time{
    width: 780px;
    height: 30px;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 18px;
    color: rgba(26, 26, 26, 0.548);
}
.Blog-Time p{
    color: rgba(26, 26, 26, 0.548);
}
.Blog-img1:hover{
    width: 800px;
	height: 300px;
	transition: all 0.3s;
    -webkit-filter : blur(2px);/* Chrome, Safari, Opera */
    filter : blur(2px)
    /*滤镜*/
}
.Blog-text:hover{
    font-size: 18px;
	transition: all 0.3s;
}
.list ul li:hover {
	width: 200px;
	height: 200px;
	font-size: 40px;
    transition: all 0.3s;
}
.githunico:hover{
	width: 30px;
	height: 30px;
	transition: all 0.3s;
}
